.portfolio__wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 6.25rem;
	
	
	.portfolio__item{
	width: 25%;
	max-height: 16rem;
	border-right: 1px solid white;
	transition: all 0.3s ease;
	position: relative;
	overflow: hidden;
	
		.portfolio__img-wrapper{
			padding: 0 0 100% 0;
			overflow: hidden;
			
			
			.portfolio__image{
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				&:hover{
					transition: all 0.5s ease;
					.portfolio__overlay{
						opacity: 0.7;
					}
				}
			}
		
		.portfolio__overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: 0.5s ease;
			background-color: #e84545;
			z-index: 5;
			&:hover{
				opacity: 0.7;
				}				
			
				.portfolio__text-img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-family: "Raleway", "Open Sans", "Verdana", "Geneva", "Tahoma";
				font-size: 0.875rem;
				line-height: 1.2;
				font-weight: 700;
				text-transform: uppercase;
				color: #ffffff;
				text-align: center;
						
				}
				.portfolio__text-img::after{
					content: "User Interface Design";
					text-transform:capitalize;
					font-style: normal;
					font-size: 0.875rem;									
					text-align: center;
					margin: 1rem auto 0 auto;
					font-family: "Raleway", "Open Sans", "Verdana", "Geneva", "Tahoma";
					line-height: 1.2;
					font-weight: 400;
					color: #ffffff;
				}
			}
				
		 
		}
	
	}	
@media (max-width: 576px) {
	.portfolio__item{
	width: 50%;
	}
}
		
// 	.portfolio__image{
// 			height: 14rem;
// 	}
// }
//  }
// @media (max-width: 1015px) {
// 	.first-kick {
// 	  display: none;
// 	}
// 	.portfolio__img-wrapper{
// 		width: 33.33%;
// 	}
//  }
//  @media (max-width: 750px) {
// 	.second-kick{
// 		display: none;
// }
// .portfolio__img-wrapper{
// 	width: 50%;
// 	height: 16rem;
// 	.portfolio__image{
// 		height: 16rem;
// }
// }
// }
// @media (max-width: 475px) {
// 	.third-kick{
// 		display: none;
// }
// .portfolio__img-wrapper{
// 	height: 75%;
// 	.portfolio__image{
// 		height: 75%;
// 	}
// }
// }
// @media (max-width: 425px) {
// 	.portfolio__img-wrapper{
// 		height: 75%;
// }
// }
}



