.portfolio__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 6.25rem;
}
.portfolio__wrapper .portfolio__item {
  width: 25%;
  max-height: 16rem;
  border-right: 1px solid white;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.portfolio__wrapper .portfolio__item .portfolio__img-wrapper {
  padding: 0 0 100% 0;
  overflow: hidden;
}
.portfolio__wrapper .portfolio__item .portfolio__img-wrapper .portfolio__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.portfolio__wrapper .portfolio__item .portfolio__img-wrapper .portfolio__image:hover {
  transition: all 0.5s ease;
}
.portfolio__wrapper .portfolio__item .portfolio__img-wrapper .portfolio__image:hover .portfolio__overlay {
  opacity: 0.7;
}
.portfolio__wrapper .portfolio__item .portfolio__img-wrapper .portfolio__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #e84545;
  z-index: 5;
}
.portfolio__wrapper .portfolio__item .portfolio__img-wrapper .portfolio__overlay:hover {
  opacity: 0.7;
}
.portfolio__wrapper .portfolio__item .portfolio__img-wrapper .portfolio__overlay .portfolio__text-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Raleway", "Open Sans", "Verdana", "Geneva", "Tahoma";
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.portfolio__wrapper .portfolio__item .portfolio__img-wrapper .portfolio__overlay .portfolio__text-img::after {
  content: "User Interface Design";
  text-transform: capitalize;
  font-style: normal;
  font-size: 0.875rem;
  text-align: center;
  margin: 1rem auto 0 auto;
  font-family: "Raleway", "Open Sans", "Verdana", "Geneva", "Tahoma";
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 576px) {
  .portfolio__wrapper .portfolio__item {
    width: 50%;
  }
}