* {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
 }

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}



.slider__wrapper{
	position: relative;
	background-color:#53354a;
	.slider__item{
		display: flex;
	}
	
	.slider__img{
		width: 50%;
		// max-height: 27rem;
		// display: inline-block;
		}
	.slider__title{
		font-family: Cardo;
		font-size: 1.75rem;
		line-height: 2.625rem;
		font-weight: 400;
		font-style: italic;
		color: #ffffff;
		margin-left: 3rem;
		margin-top: 6rem;
		max-width: 31.25rem;
		// display: inline-block;
	}
	@media (max-width: 991px) {
		.slider__title{
			font-size: 1.75rem;
			margin-top: 5rem;
			margin-left: 2.5rem;
		}
		.slider__title::after{
			font-size: 0.6rem;
		}
		// .slider__dots{
		// 	margin-top: 2.2rem;
		// }
	}
	.slider__title::after{
		content: "Susan Sims, Interaction Designer at XYZ";
		font-style: normal;
		font-size: 0.8125rem;									
		text-align: left;
		margin: 1.5rem auto 0 auto;
		font-family: "Raleway", "Open Sans", "Verdana", "Geneva", "Tahoma";
		line-height: 1.3125rem;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		display: block;
	}
	// .slider__dots{
	// 	margin-top: 3rem;
		
	// }
		.slick-dots{
		display: flex;
		align-items: center;
		justify-content: center;
		li{
			margin: 0 0.625rem;
			list-style: none;	
		// 	&:active{
		// 		background-color: #fff;	
		// 		// &:visited{
		// 		// 	background-color: #fff;
		// 		// }
		// }
		button{
			font-size: 0;
			width: 0.625rem;
			height: 0.625rem;
			border-radius: 50%;
			background-color: #53354a;
			border: 1px solid #fff;
			outline: none;	
			&:hover{
				cursor: pointer;
				background-color: #fff;
			}	
			&:active{
				background-color: #fff;
			}
			// &:visited{
			// 	background-color: #fff;
			// }
		}
		
		}
		li.slick-active button{
			background-color: #fff;
		}
	}

	@media (min-width: 885px) {
		.slick-dots{
			position: absolute;
			z-index: 2;
			bottom: 2rem;
			right: 15rem;
		}
	}
	@media (max-width: 884px) {
		.slider__item{
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;	
			justify-content: center;	
		.slider__img{
			width: 100%;
			// max-height: 27rem;
			display: inline-block;
			}
			.slider__right{
				display: flex;
				flex-direction: column;
				justify-content: baseline;
				margin: 0 auto;
				text-align: center;
				.slider__title{
					margin-top: 3rem;
					margin-left: auto;
					margin-right: auto;
					font-family: 'Cardo',"Open Sans", "Verdana", "Geneva", "Tahoma";
				}
				.slider__title::after{
					text-align: center;
				}
			}
		}
		
		
	 }
	}

// 	.slick-arrow{
// 		position: absolute;
// 		top: 50%;
// 		z-index: 2;
// 		font-size: 0;
// 		width: 3rem;
// 		height: 3rem;
// 	}
// 	.slick-arrow.slick-prev{
// 		left: 0;
// 		background: url('../img/Slider/left.svg') 0 0 / 100% no-repeat;
// 	}
// 	.slick-arrow.slick-next{
// 	right: 0;
// 	background: url('../img/Slider/right.svg') 0 0 / 100% no-repeat;
// 	}


	

	
