@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider__wrapper {
  position: relative;
  background-color: #53354a;
}
.slider__wrapper .slider__item {
  display: flex;
}
.slider__wrapper .slider__img {
  width: 50%;
}
.slider__wrapper .slider__title {
  font-family: Cardo;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  margin-left: 3rem;
  margin-top: 6rem;
  max-width: 31.25rem;
}
@media (max-width: 1180px) {
  .slider__wrapper .slider__title {
    font-size: 1.75rem;
    margin-top: 4rem;
    margin-left: 2.5rem;
  }
  .slider__wrapper .slider__title::after {
    font-size: 0.6rem;
  }
}
@media (max-width: 935px) {
  .slider__wrapper .slider__title {
    font-size: 1.75rem;
    margin-top: 3rem;
    margin-left: 2.5rem;
  }
  .slider__wrapper .slider__title::after {
    font-size: 0.6rem;
  }
}
.slider__wrapper .slider__title::after {
  content: "Susan Sims, Interaction Designer at XYZ";
  font-style: normal;
  font-size: 0.8125rem;
  text-align: left;
  margin: 1.5rem auto 0 auto;
  font-family: "Raleway", "Open Sans", "Verdana", "Geneva", "Tahoma";
  line-height: 1.3125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
}
.slider__wrapper .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__wrapper .slick-dots li {
  margin: 0 0.625rem;
  list-style: none;
}
.slider__wrapper .slick-dots li button {
  font-size: 0;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #53354a;
  border: 1px solid #fff;
  outline: none;
}
.slider__wrapper .slick-dots li button:hover {
  cursor: pointer;
  background-color: #fff;
}
.slider__wrapper .slick-dots li button:active {
  background-color: #fff;
}
.slider__wrapper .slick-dots li.slick-active button {
  background-color: #fff;
}
@media (min-width: 886px) {
  .slider__wrapper .slick-dots {
    position: absolute;
    z-index: 2;
    bottom: 2rem;
    right: 15rem;
  }
}
@media (max-width: 885px) {
  .slider__wrapper .slider__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .slider__wrapper .slider__item .slider__img {
    width: 100%;
    display: inline-block;
  }
  .slider__wrapper .slider__item .slider__right {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin: 0 auto;
    text-align: center;
  }
  .slider__wrapper .slider__item .slider__right .slider__title {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "Cardo", "Open Sans", "Verdana", "Geneva", "Tahoma";
  }
  .slider__wrapper .slider__item .slider__right .slider__title::after {
    text-align: center;
  }
  .slider__wrapper .slick-dots {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}