.template{
	padding-bottom: 9.5625rem;

	.template__title{
		font-family: 'Open Sans', 'Verdana', 'Geneva', 'Tahoma';
		font-size:4.0625rem;
		font-weight: 700;
		line-height: 4.4375rem;	
		text-align: center;
		color: #FFFFFF;
		text-transform: uppercase;
		margin-top: 9.6875rem;
		margin-bottom: 2.1875rem;
	}
		@media (max-width: 786px){
			.template__title{
				margin-top: 6rem;
				font-size:4rem;
			}
		}
		@media (max-width: 576px){
			.template__title{
				margin-top: 3rem;
				font-size:3.5rem;
			}
		}
	
	
	.template__subtitle{
		font-family: 'Raleway', 'Open Sans', 'Verdana', 'Geneva', 'Tahoma';
		font-size: 1.375rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2.0625rem;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 5.0625rem;
	}
	
	.template__link{
		display: block;
		margin: 0 auto;
		text-align: center;
		max-width: 12.5rem;
		border: none;
		background-color: #e84545;
		cursor: pointer;
		transition-duration: 0.3s;
		padding: 1.25rem 2.8125rem;
		transition-timing-function: ease-in;
		text-decoration: none;

		.template__download{			
			color: #FFFFFF;
			font-size: 0.8125rem;
			font-style: normal;
			font-weight: 600;
			font-family: 'Raleway', 'Open Sans', 'Verdana', 'Geneva', 'Tahoma';
			line-height: 1.3125rem;
			text-transform: uppercase;
			
		}
	}	
	.template__link:hover{
		border: 1px solid #FFFFFF;
		transition-duration: 0.3s;
		transform:scale(1.15);
		transition-timing-function: ease-in;
		box-shadow: 0 0 0.625rem rgba(0,0,0,0.5);
	}	

	@media (max-width: 576px){
		.template__link{		
			max-width: 100%;
		}
	}
}

@media (max-width: 946px){
	.template{
		padding-bottom: 5.5rem;
	
	.axit__wrapper{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.axit__leftrow, .axit__title, .axit__subtitle{
		text-align: center;
	}
	.axit__title:after{
		margin: 2rem auto 2.4375rem auto;
	}
	.axit__link{
		margin: 0 auto;
	}
}
}

@media (max-width: 576px){
	.template{
		padding-bottom: 3rem;
	.axit__link{		
		max-width: 100%;
	}
	.axit__username, .axit__email, .axit__password{
		padding-left: 24px;
		padding-right: 24px;
	}
	.axit__trial{
		padding-left: 24px;
		padding-right: 24px;
		line-height:28px;
		padding-top: 25px;
	}
}
}